*{
    margin:0;
    padding:0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}


.navbar{
    display: block;
    height:81px;
    background-color: none;
}

.home{
    margin-left: 15px;
    margin-top: 15px;
    width:50px;
    height:50px;
    filter:grayscale(100%);
    transition:0.3s ease;
}

.home:hover{
    filter:none;
    transform: scale(1.1);
}

.gradient{
    height: 100%;
    background-color: #C2E5F2;
    background-size: 100% 100%;
}