*{
    margin:0;
    padding:0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #9594dd, #9695e1, #9695e4, #9796e8, #9896eb, #a695ea, #b495e8, #c094e5, #d793db, #e993cf, #f695c2, #ff99b6);

}

.navbar{
    display: block;
    height:81px;
    background-color: none;
}

.home{
    margin-left: 15px;
    margin-top: 15px;
    width:50px;
    height:50px;
    filter:grayscale(100%);
    transition:0.3s ease;
}

.home:hover{
    filter:none;
    transform: scale(1.1);
}

.gradient{
    height: 100%;
    background-color: #C2E5F2;
    background-size: 100% 100%;
}